body {
    font-family: Arial, sans-serif;
    background-color: #e3e1e1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .create-post {
    text-align: center;
  }
  
  /* h1 {
    font-family: 'EB Garamond', serif;
    margin-bottom: 20px;
  } */
  form {
    background-color: #ced4da;
    padding: 30px;
    padding-top: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  textarea {
    width: 100%; /* Make the textarea width same as the form */
    height: 100px; /* Set the desired height of the textarea */
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  label {
    font-family: 'EB Garamond', serif;
    display: block;
    margin: 10px 0;
    font-weight: bold;
  }
  

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  button {
    font-family: 'EB Garamond', serif;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }


  .header {
    font-family: 'EB Garamond', serif;
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #f2f2f2;
    
  }


  .header h1 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    font-weight: 700;
    color: #212529;
  }

  @media (min-width: 1280px) {
    .navbar {
      padding: 0;
    }
  
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    .navbar li {
      position: relative;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-family: 'EB Garamond', serif;
      font-size: 16px;
      font-weight: 500;
      color: rgba(var(--color-default-rgb), 1);
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
  
    
  }
  
  @media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  .mobile-nav-toggle {
    display: none;
  }
  
  /*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
  @media (max-width: 1279px) {
    .navbar {
      padding: 0;
      z-index: 9997;
    }
  
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      font-family: var(--font-primary);
      font-size: 15px;
      font-weight: 600;
      color: var(--color-primary);
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: var(--color-primary);
    }
  
    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
      position: static;
      display: none;
      z-index: 99;
      padding: 10px 0;
      margin: 10px 20px;
      background: var(--color-white);
      transition: all 0.5s ease-in-out;
      box-shadow: 0px 0px 30px rgba(var(--color-black-rgb), 0.1);
    }
  
    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
      display: block;
    }
  
    .mobile-nav-toggle {
      display: inline-block;
      color: var(--color-secondary);
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
    }
  
    .mobile-nav-toggle.bi-x {
      color: var(--color-black);
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .mobile-nav-toggle {
      position: fixed;
      top: 15px;
      right: 15px;
      z-index: 9999;
      color: var(--color-white);
    }
  
    .mobile-nav-active .navbar {
      position: fixed;
      overflow: hidden;
      inset: 0;
      background: rgba(var(--color-black-rgb), 0.6);
      transition: 0.3s;
    }
  
    .mobile-nav-active .navbar>ul {
      display: block;
    }
  }